@font-face{
  font-family: xmas;
  src: url('xmasfont.ttf');
}
#home{
  color: white;
}

#about{
  color: white;
}

#contact{
  color: white;
}

#home:hover{
  opacity: 70%;
}

#about:hover{
  opacity: 70%;}

#contact:hover{
  opacity: 70%;
}

#strs{
  color: white;
  font-size: 25px;
}

body{
	background: url('1466431.jpg') no-repeat center center fixed;;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
    overflow: hidden;

}

/* SNOW FALL */

 .snowflake {
   --size: 1vw;
   width: var(--size);
   height: var(--size);
   background: white;
   border-radius: 50%;
   position: absolute;
   top: -5vh;
}
 @keyframes snowfall {
   0% {
     transform: translate3d(var(--left-ini), 0, 0);
  }
   100% {
     transform: translate3d(var(--left-end), 110vh, 0);
  }
}
 .snowflake:nth-child(1) {
   --size: 1vw;
   --left-ini: -5vw;
   --left-end: 4vw;
   left: 80vw;
   animation: snowfall 11s linear infinite;
   animation-delay: -8s;
}
 .snowflake:nth-child(2) {
   --size: 0.4vw;
   --left-ini: 8vw;
   --left-end: -3vw;
   left: 34vw;
   animation: snowfall 11s linear infinite;
   animation-delay: -9s;
}
 .snowflake:nth-child(3) {
   --size: 0.6vw;
   --left-ini: 1vw;
   --left-end: 5vw;
   left: 56vw;
   animation: snowfall 9s linear infinite;
   animation-delay: -9s;
}
 .snowflake:nth-child(4) {
   --size: 0.6vw;
   --left-ini: 6vw;
   --left-end: 8vw;
   left: 1vw;
   animation: snowfall 8s linear infinite;
   animation-delay: -10s;
}
 .snowflake:nth-child(5) {
   --size: 0.4vw;
   --left-ini: 10vw;
   --left-end: 5vw;
   left: 48vw;
   animation: snowfall 11s linear infinite;
   animation-delay: -1s;
}
 .snowflake:nth-child(6) {
   --size: 0.4vw;
   --left-ini: -3vw;
   --left-end: 5vw;
   left: 13vw;
   animation: snowfall 7s linear infinite;
   animation-delay: -9s;
}
 .snowflake:nth-child(7) {
   --size: 0.8vw;
   --left-ini: -4vw;
   --left-end: 3vw;
   left: 97vw;
   animation: snowfall 8s linear infinite;
   animation-delay: -4s;
}
 .snowflake:nth-child(8) {
   --size: 0.4vw;
   --left-ini: 10vw;
   --left-end: 9vw;
   left: 65vw;
   animation: snowfall 9s linear infinite;
   animation-delay: -9s;
}
 .snowflake:nth-child(9) {
   --size: 0.8vw;
   --left-ini: 6vw;
   --left-end: -4vw;
   left: 89vw;
   animation: snowfall 10s linear infinite;
   animation-delay: -9s;
}
 .snowflake:nth-child(10) {
   --size: 0.8vw;
   --left-ini: 3vw;
   --left-end: -5vw;
   left: 6vw;
   animation: snowfall 13s linear infinite;
   animation-delay: -10s;
}
 .snowflake:nth-child(11) {
   --size: 0.6vw;
   --left-ini: -8vw;
   --left-end: 5vw;
   left: 78vw;
   animation: snowfall 14s linear infinite;
   animation-delay: -3s;
}
 .snowflake:nth-child(12) {
   --size: 1vw;
   --left-ini: -4vw;
   --left-end: 1vw;
   left: 100vw;
   animation: snowfall 11s linear infinite;
   animation-delay: -6s;
}
 .snowflake:nth-child(13) {
   --size: 0.2vw;
   --left-ini: 9vw;
   --left-end: 10vw;
   left: 27vw;
   animation: snowfall 9s linear infinite;
   animation-delay: -6s;
}
 .snowflake:nth-child(14) {
   --size: 0.2vw;
   --left-ini: 0vw;
   --left-end: 10vw;
   left: 90vw;
   animation: snowfall 8s linear infinite;
   animation-delay: -10s;
}
 .snowflake:nth-child(15) {
   --size: 0.2vw;
   --left-ini: 8vw;
   --left-end: 2vw;
   left: 99vw;
   animation: snowfall 7s linear infinite;
   animation-delay: -9s;
}

 
/* ------------------------------------- */

.navbar-toggler{
  color: red;
  background-color: white;
  opacity: 50%;
  font-size: 15px;
}


#wish{
  font-size:70px;
  font-family: xmas;
  color: white;
}

#wish2{
  font-size:50px;
  font-family: xmas;
  color: white;
}

@media (orientation: portrait) {
  #wish{
    font-size : 30px;
  }
  #wish2{
    font-size : 30px;
  }
 }