<!DOCTYPE html>
<html>

<!-- bootstrap -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!--font-->
<style>
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
</style>


<h1> EMOJI API<h2>

<style>
h1{
  font-family: 'IBM Plex Mono', monospace;
  position: absolute;
  top : 265px;
  left : 485px;
  font-size: 70px;
  color:white;
}
html{
  background-color:black;

}
</style>

<bt1 >

<a href="api" class="btn btn-success" role="button">Try API</a>

</bt1>


<style>
   bt1{
     position: absolute;
     top: 370px;
     left :640px;

    }
    a{
       font-family: 'IBM Plex Mono', monospace;
    }

    </style>